html {
    font-size: 5px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Merienda', cursive, sans-serif;
  }
body {
    padding: 1%;
}


/*Styling navbar */
#navbar-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 140, 255);
    justify-content:space-around;
    width: 100%;

}

#navbar-title {
    color: whitesmoke;
    font-size: 4rem;
    width: 100%;
    padding: 2%;

   
}

#scripture {
    color: whitesmoke;
    font-size: 4rem;
    padding-left: 2%;

}

.navbar-items {
    display: flex;
    width: 100%;
    padding: 0;
    
}

a {
    text-decoration: none;
}


.navbar-items li {
    font-size: 4rem;
    padding: 5%;
    list-style: none;
    
    
}

.navbar-items a {
    
    text-transform: uppercase;
    color: whitesmoke;
}



/*Styling navbar Ends*/

/*Featured Collage Photos*/

#featured-photo-container {
     display: flex;
     justify-content: space-evenly;
     background-color: black;
     width: 100%;
     color: whitesmoke;   
}

#featured-photos-collage-wrapper {
    width: 100%;
    margin: 2%;
}

#featured-photos-collage {
    width: 100%;
    
}

#collage-photo-description-wrapper {
    margin: 6ch;
    width: 50%;
}


#flash-page-description {
    font-size: 7rem;
    padding-top: 3%;
    padding-right: 4%;
}

/*Featured Collage Photos Ends*/

/*Mobile Responsiveness*/
@media (max-width: 600px) {

    /*Styling navbar */
#navbar-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 40, 44);
    justify-content:safe;
    width: 100%;
    

}

#navbar-title {
    color: whitesmoke;
    font-size: 2rem;
    width: 100%;
    padding: 2%;
    text-align: center;
    

   
}

#featured-photo-container{
    display: flexbox;
    flex-direction: column;
}

#collage-photo-description-wrapper {
    margin: 0;
    width: 100%;
}

#featured-photos-collage-wrapper {
    width: 100%;
    margin: 0 auto;
}


    
    
}