/*Styling navbar */
#navbar-container {
    display: flexbox;
    background-color: rgb(0, 140, 255);
}

#navbar-title {
    color: whitesmoke
}

/*Styling navbar Ends*/

/*Featured Photos*/

#featured-photos-area {
    width: 40%;
    height: 5%;
    padding: 5%;
    
    
    
}


#featured-photo-container {
    background-color: cadetblue;
    
    
}
#Family-Times-Square-Photo {
    width: 100%;
    transform: rotate(15deg);
    overflow: hidden;
    
}

#Girls-Ruby {
    width: 100%;
    transform: rotate(40deg);
    overflow: hidden;
}

/*Featured Photos Ends*/