html {
    font-size: 5px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Merienda', cursive, sans-serif;
  }
body {
    padding: 1%;
}


/*Styling navbar */
#navbar-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(44, 125, 150, 0.877);
    justify-content:space-around;
    width: 100%;
    position: fixed;
    opacity: 0.8;
    overflow: hidden;
}

#navbar-title {
    color:whitesmoke;
    font-size: 4rem;
    width: 100%;
    padding: 2%;
    font-weight: bolder;

   
}

#scripture {
    color: whitesmoke;
    font-size: 4rem;
    padding-left: 2%;

}

.navbar-items {
    display: flex;
    width: 100%;
    padding: 0;
    
}

a {
    text-decoration: none;
}


.navbar-items li {
    font-size: 4rem;
    padding: 5%;
    list-style: none;   
}

.navbar-items a {
    
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bolder;
}



/*Styling navbar Ends*/

/*Featured Collage Photos*/

#featured-photo-container {
     display: flex;
     justify-content: space-evenly;
     background-color: black;
     margin-top: 8%;
     width: 100%;   
     color: whitesmoke;   
}

#featured-photo-container-photo-page {
    display: flex;
    background-color: rgba(1, 1, 3, 0.884);
}


#featured-photos-collage-wrapper {
    width: 100%;
    margin-top: 8%;
    padding: 0;
}

#featured-photos-collage {
    width: 100%;
    margin-top: 1%;
    
}

#featured-photos-collage-wrapper-photo-page {
    width: 40%;
    margin-top: 10%;
    margin-left: 5%;
    
}

#collage-photo-description-wrapper {
    
    width: 100%;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}


#flash-page-description {
    font-size: 7rem;
    padding-top: 3%;
    padding-right: 4%;
}

/*Featured Collage Photos Ends*/

/*Mobile Responsiveness*/
@media (max-width: 500px) {

            /*Styling navbar */
        #navbar-container {
            display: flex;
            flex-direction: column;
            background-color: rgba(44, 125, 150, 0.877);
            justify-content:safe;
            width: 100%;
            margin: auto;
            position: fixed;
           
            

        }

        #navbar-title {
            color: whitesmoke;
            font-size: 2rem;
            width: 100%;
            padding-top:10%;
            text-align: center;
            

        
        }

        .navbar-items {
            display: flex;
            width: 100%;
            padding: 0;    
        }

        a {
            text-decoration: none;
        }


        .navbar-items li {
            font-size: 3rem;
            padding: 5%;
            list-style: none; 
            
        }

        /*Styling the photo and scripture*/
        #featured-photo-container{
            display: flexbox;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
        }

        #collage-photo-description-wrapper {
           
            width: 100%;
            margin-top: 8%;
        }

        img#featured-photos-collage {
            width: 100%;
        }

        #featured-photos-collage-wrapper {
            width: 100%;
            margin-top: 35%;
        }


        #featured-photo-container {
            display: flex;
            justify-content: space-evenly;
            background-color: black;
            width: 100%;
            color: whitesmoke;   
        }

        #featured-photos-collage-wrapper {
            width: 100%;
           
        }

        #collage-photo-description-wrapper {
            width: 100%;
         
            
        }


        p#flash-page-description {
            font-size: 4rem;
            
        }



    
    
}